@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;
  --gradient-text: linear-gradient(90deg, rgba(255, 0, 246, 1) 0%, rgba(0, 188, 212, 1) 50%, rgba(238, 130, 238, 1) 100%);
  
  --color-bg: #ffffff;
  --color-footer : linear-gradient(90deg, rgba(255, 125, 208, 1) 0%, rgba(174, 19, 174, 1) 100%);
  --color-text: #030e18;
  --color-subtext: #3ba5f5;
  --color-button: #b520ff;
}
